# Adnan Ahmed 
# PIAIC633000

In [4]:
data['fname']

'muhammad ashfaq'

In [3]:
data['name']

'adnan ahmed'

In [11]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [12]:
a.upper()

'ADNAN AHMED'

In [8]:
a

'Adnan Ahmed'

In [9]:
len(a)

11

In [19]:
str ="Hello woRld, Python codding."
str

'Hello woRld, Python codding.'

In [20]:
print(str.casefold())

hello world, python codding.

In [21]:
print(str.center(100))

                                    Hello woRld, Python codding.

In [22]:
print(str.count("e"))

1

In [23]:
print(str.encode())

b'Hello woRld, Python codding.'

In [24]:
print(str.endswith("t"))

False

In [25]:
print(str.endswith("."))

True

In [26]:
print(str.expandtabs(5))

Hello woRld, Python codding.

In [32]:
s ="Hello\t woRld,\t Python\t codding."
print(s.expandtabs(5))

Hello      woRld,    Python    codding.

In [33]:
print(str.find("world"))

-1

In [34]:
print(str.find("woRld"))

7

In [44]:
txt = "For only {price:0.1f} dollars!"
print(txt.format(price=50))

For only 50.0 dollars!

In [45]:
a = {'x':'John', 'y':'Wick'} 
  
print("{x}'s last name is {y}".format_map(a))

John's last name is Wick

In [48]:
print(str.index("Python"))

15

In [49]:
print(str.isalnum())

False

In [51]:
a="adnanahmed12345567"
print(a.isalnum())

True

In [52]:
print(str.isalpha())

False

In [57]:
s="my name is adnan ahmed"
print(s.isalpha())

False

In [2]:
s="mynameisadnanahmed"
print(s.isalpha())

True

In [21]:
print(str.isdecimal("10"))

True

In [19]:
print(str.isdecimal("ABC10"))

False

In [28]:
print(str.isdigit("115"))

True

In [2]:
print(str.isidentifier("ABC"))

True

In [3]:
print(str.islower("lower case string"))

True

In [5]:
print(str.isprintable("11ABC"))

True

In [4]:
x= str.isspace(" ")
print(x)

True

In [5]:
txt = "   "

x = txt.isspace()

print(x)

True

In [6]:
txt = "Hello, And Welcome To My World!"

x = txt.istitle()

print(x)

True

In [7]:
myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky

In [8]:
txt = "Hello my FRIENDS"

x = txt.lower()

print(x)

hello my friends

In [9]:

txt = "     banana     "

x = txt.lstrip()

print("of all fruits", x, "is my favorite")

of all fruits banana      is my favorite

In [10]:
txt = "Mi casa, su casa."

x = txt.rfind("casa")

print(x)

12

In [11]:
txt = "banana"

x = txt.rjust(20)

print(x, "is my favorite fruit.")

              banana is my favorite fruit.

In [12]:
txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

In [13]:
fruits = ['apple', 'banana', 'cherry', 'orange']

fruits.clear()
fruits

[]

In [15]:
fruits = ['apple', 'banana', 'cherry']
fruits.append("orange")
fruits

['apple', 'banana', 'cherry', 'orange']

SyntaxError: invalid syntax (<ipython-input-1-fa04bacbb1d1>, line 1)